# Discord Bot Credentials
DISCORD_TOKEN=
GUILD_ID=

# MongoDB Connection
MONGODB_URI=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
YOUTUBE_API_KEY=
# Welcome Configuration
WELCOME_CHANNEL_ID=

# Verification Configuration
VERIFICATION_CHANNEL_ID=1537851584246190120
VERIFIED_ROLE_ID=1537781352055967754
VERIFICATION_MESSAGE_ID=

# Stream Notification Configuration
STREAMER_ROLE_ID=
STREAM_NOTIFICATION_CHANNEL_ID=

# Scheduled Event Notification Configuration
EVENT_NOTIFICATION_CHANNEL_ID=

# Moderation Notification Configuration
MODERATION_NOTIFICATION_CHANNEL_ID=
